.dashboard .sidebar{
  width: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column
}

.sidebar .first-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 30px;
}

.sidebar .first-section .dot-line{
  border: 2px solid #E1E0E1; 
  width: 40px;
}

.sidebar .logout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end; 
}

@media (max-width: 768px) {
  .dashboard .sidebar{
    width: 100%;
    flex-direction: row;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .sidebar .first-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 4;
  }

  .sidebar .first-section .dot-line{
    display: none;
  }

  .sidebar .logout{
    display: none;
  }
}